body {
    margin-left: 50px;
    margin-top: 50px;
}

.gamer {
    float: left;
    width: 400px;
}

#gamerRole {
    position: relative;
    left: 210px;
}

#name {
    position: relative;
    left: 210px;
    font-size: 18px;
}

#face {
    position: relative;
    bottom: 100px;
    border-radius: 60px;
}

#age {
    position: relative;
    left: 210px;
}

a {
    text-decoration: none;
}